{% extends 'base.html.twig' %}

{% block title %}New ProfileSection{% endblock %}

{% block body %}
    <h1>Create new ProfileSection</h1>

    {{ include('profile_section/_form.html.twig') }}

    <a href="{{ path('app_profile_section_index') }}">back to list</a>
{% endblock %}
