.container{
    height: 100vh;
    padding: 10vh 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.content-container{
    width: 70vw;
    max-height: 60vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--mint-cream);
    border-radius: 25px;
    overflow: hidden;
}

.portfolios-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
}

.portfolio-container{
    position: relative;
    min-width: 175px;
    min-height: 125px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: 1px solid var(--mint-cream);
}
.portfolio-container:hover{
    border: 1px solid var(--dark-slate-grey);
}

.edit-icon {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--mint-cream);
    border-radius: 50%;
    color: var(--dark-slate-grey);
    font-size: 14px;
}

.edit-icon:hover {
    border: 1px solid var(--dark-slate-grey);
}

.portfolio-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo-container{
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--dark-slate-grey);
    border-radius: 50%;
}

.footer-container{
    display: flex;
    gap: 120px;
}