<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Nicolas's Portfolio{% endblock %}</title>
        <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% block stylesheet %}
            
        {% endblock %}
    </head>
    <body>
    {% block header %}
        
    {% endblock %}
        <main>            
            {% block content %}

            {% endblock %}
        </main>

        {% block footer %}
            <footer>
                <p>&copy; 2025 Nicolas Berlaud</p>
            </footer>
        {% endblock %}
    </body>
</html>