{% extends 'base.html.twig' %}

{% block javascripts %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
{% endblock %}


{% block content %}
    <div class="welcome" style="background-image: url('{{ asset('images/mainPageBackGround.png') }}');"></div>
{% endblock %}
