{% extends 'base.html.twig' %}

{% block title %}Experience{% endblock %}

{% block body %}
    {% for experience in experiences %}
        <div>
            <div>{{ experience.title }}</div>
            <div>{{ experience.description }}</div>
            <div>{{ experience.startDate|date('d/m/Y') }}</div>
            <div>{{ experience.endDate|date('d/m/Y') }}</div>
        </div>
    {% endfor %}
{% endblock %}
