{% extends 'base.html.twig' %}

{% block title %}Edit project{% endblock %}

{% block content %}
    <h1>Projects</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Save</button>
    {{ form_end(form) }}
{% endblock %}
